.bloco {
  display: block;
}

.inline {
  display: inline;
}

.inline-bloco {
  display: inline-block;
}

.none {
  display: none;
}

.visivel {
  visibility: visible;
}

.invisivel {
  visibility: hidden;
}